@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
body{
  font-family: 'open sans';  
  font-weight: bold;
  background-image: linear-gradient(to right,rgb(48, 186, 232) , aqua)
}h1{
    text-align: center;
    font-weight: bolder;
    text-shadow: 1px 1px 1px;
}section{
  background-color: white;
  margin: auto;
  width: 333px;
  padding: 0px 5px 5px 5px;
  border-radius: 10px;
}div{
  margin-top: 30px;
}#botao:hover{
  background-color: yellow;
}#botao:active{
  background-color: blue;
}